python-dotenv
google-genai
matplotlib
networkx 
pypdf
torch
torchvision
pymupdf 
easyocr
numpy
opencv-python
scikit-learn
streamlit
tempfile

#huggingface_hub
#transformers 
#sentencepiece 
#accelerate 
#safetensors
#pyvis
#jinja2
#pdfplumber
#pdfminer.six
#pdf2image 
#pytesseract
#pip install -r requirements.txt